body { 
    background-image: url(../IMG/img1.png);
    color: seashell;
 }
.heading {
    width: 70%;
    margin-top: 2.5%;
    margin-left: 13%;
    padding: 30px;
    text-align: center;
    border:10px double cyan ;
    border-radius: 200px;
 }
.title {
    font-family: Helvetica;
    font-size: 70px;
 }   
.name {
    font-family: 'Trebuchet MS';
    color: white;
    text-align: center;
    margin-top: 10%;   
 }
.text, .text2 {
    font-size: 40px;
    font-weight: 700px;
    letter-spacing: 10px;
    animation: text 5s 1;
    border-bottom: 2px solid cyan;
    
 }
@keyframes text {
    0% {color: black;}
    30% {letter-spacing: 20px;}
    85% {letter-spacing: 8px;}
 }
.buttons {
    font-family: Helvetica;
    margin-top: 6%;
    text-align: center;
    font-size: 18pt;
    font-weight: lighter;
}
.buttons a {
    color: cadetblue;
    border: 1px solid snow;
    border-radius: 50px;
    padding: 10px;
    margin: 1.5%; 
    text-decoration: none;
}
.buttons a:hover {
    background-color: black;
    color:palegoldenrod;
}
.media {
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-53%, -50%)
}
li {    
    display: inline-block;
    list-style: none;
    margin-left: 2.5%;
    margin-top: 10%;
    font-size: 25px;
    color: white;
    padding: 10px 10px;
    border: 1px solid black;
    border-radius: 50%;
    transition: .5s;
}
li:hover {
    color: cyan;
    background-color: black;
    transition: .5s;
}
.link {
    font-family: Helvetica;
    margin-top: 20%;
    text-align: center;
    font-size: 25pt;
    font-weight: lighter;
}
.link a {
    color: cadetblue;
    border: 1px solid snow;
    border-radius: 50px;
    padding: 10px;
    margin: 1.5%; 
    text-decoration: none;
}
.link a:hover {
    background-color: black;
    color:palegoldenrod;
}
